################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Roomex/.vs/Roomex
/Roomex/GeoLocationService/obj
/Roomex/GeoLocationService.UnitTests/bin/Debug/net5.0
/Roomex/GeoLocationService.UnitTests/obj
/Roomex/WebApi.Host/WebApi.Host/bin/Debug/net5.0
/Roomex/WebApi.Host/WebApi.Host/obj
/Roomex/WebApi.Host.IntegrationTests/obj
/Roomex/WebApi.Host.UnitTests/bin/Debug/net5.0
/Roomex/WebApi.Host.UnitTests/obj
/Roomex/Core/Interfaces/bin/Debug/net5.0
/Roomex/Core/Interfaces/obj
/Roomex/Core/Services/bin/Debug/net5.0
/Roomex/Core/Services/obj
/Roomex/Core/Tests/bin/Debug/net5.0
/Roomex/Core/Tests/obj
/Roomex/Hosts/WebApi.Host/WebApi.Host/bin/Debug/net5.0
/Roomex/Hosts/WebApi.Host/WebApi.Host/obj
/Roomex/Hosts/WebApi.Host.IntegrationTests/bin/Debug/net5.0
/Roomex/Hosts/WebApi.Host.IntegrationTests/obj
/Roomex/Core/Interfaces/bin/Debug/net6.0
*.user
/Roomex/Core/Services/bin/Debug/net6.0
/Roomex/Core/Tests/bin/Debug/net6.0
/Roomex/Hosts/WebApi.Host/WebApi.Host/bin/Debug/net6.0
/Roomex/Hosts/WebApi.Host.IntegrationTests/bin/Debug/net6.0
